body {
    background-color: #d3dad9;
    margin: 0;
}

#map {
    height: 100vh; /* Imposta l'altezza della mappa a tutta la finestra del browser */
    width: 100vw;  /* Imposta la larghezza della mappa a tutta la larghezza della finestra */
    z-index: 0; /* La mappa è in basso */
}

#inputCsv {
    position: absolute; /* Posiziona il div sopra la mappa */
    top: 20px; /* Distanza dalla parte superiore */
    left: 50%;
    transform: translateX(-50%); /* Centra orizzontalmente */
    z-index: 3; /* Il bottone sopra la mappa */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-trasparente per visibilità */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra leggera */
}

#buttonUpload {
    background-color: rgb(42, 121, 103); 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
}

#buttonUpload:hover {
    transform: scale(1.1); /* Ingrandisce il bottone di 1.5 volte */
}
